.main-app {
  display: flex;
  flex-direction: column;
}
.mainApp-row {
  display: flex;
}
.main {
  margin-bottom: 20px;
  margin-right: 20px;
}
.shafts {
  margin-right: 20px;
  margin-bottom: 10px;
}
.treadles {
  margin-bottom: 20px;
  margin-right: 10px;
}
.pattern-row {
  display: flex;
}
.pattern-box {
  display: flex;
  flex-direction: column;
}
